<!DOCTYPE html>
<html lang="en">
    <head>
        {{!-- Required meta tags --}}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        {{!-- Reset CSS --}}
        <link rel="stylesheet" href="/styles/reset.css" type="text/css" />

        {{!-- Bootstrap CSS --}}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
        {{!-- CSS --}}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="/styles/styles.css" type="text/css" />

        <title>Pebblebrook Manor</title>
	</head>
	<body>

		{{{ body }}}

        <!-- Footer -->
        <footer class="footer">
            <div class="team">
                <h6>Follow Us</h6>
                <ul>
                    <li class="socialIcons">
                        <a href="https://www.linkedin.com/school/uclaextension/" target="_blank" class="socialLinks">
                            <img src="/images/linkedIn.png" width="50px" height="50px" alt="LinkedIn"/>
                        </a>
                    </li>
                    <li class="socialIcons">
                        <a href="https://twitter.com/uclaextension/media" target="_blank" class="socialLinks">
                            <img src="/images/twitter.png" width="50px" height="50px" alt="Twitter"/>
                        </a>
                    </li>
                    <li class="socialIcons">
                        <a href="https://www.facebook.com/UCLAExtension/" target="_blank" class="socialLinks">
                            <img src="/images/facebook.png" width="50px" height="50px" alt="Facebook"/>
                        </a>
                    </li>
                </ul>
                <hr>
                <h6>Team</h6>
                <ul>
                    <li>
                        <span class="text-muted"><a href="https://github.com/abalomenos" target="_blank">Argiris Balomenos</a></span>
                    </li>
                    <li>
                        <span class="text-muted"><a href="https://github.com/jacksona750" target="_blank">Annie Jackson</a></span>
                    </li>
                </ul>
            </div>
        </footer>

        {{!-- CDN - jQuery first, then Popper.js, then Bootstrap JS, etc. --}}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        
        {{!-- JavaScript --}}
        <script src="https://unpkg.com/interactjs@next/dist/interact.min.js"></script>
        <script src="/js/index.js"></script>
        <script src="/js/main.js"></script>

	</body>
</html>
