<div class="container">
    <div class="row">
        <div class="col-md-8 eventLayout">
               
        </div>
        <div class="col-md-2">
            <button id="addTable">Add Table</button>
            <button id="saveEvent">Save Event</button>
        </div>
        <div class="col-md-2">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae tempus orci, pharetra maximus leo. Duis nec lobortis mauris. Mauris at urna egestas, vehicula erat eu, tempor ante. Aliquam erat volutpat. Mauris sed velit quis turpis vehicula porta. Praesent blandit bibendum dignissim. 
            </p>
        </div>
    </div>
</div>