<div id="drag-1" class="draggable">
  <p> Table </p>
</div>
<div id="drag-2" class="draggable">
  <p> Table </p>
</div>
<div id="drag-3" class="draggable">
  <p> Table </p>
</div>

<div class="container">
  <button id="addTable">Add Table</button>
</div>