<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
    <a class="navbar-brand" href="/"><img src="/images/logo.png" width="160" height="35" class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/brandview">Brandview Ballroom</a>
            <a class="nav-item nav-link" href="/glenoaks">Glenoaks Ballroom</a>
            <a class="nav-item nav-link" href="/lefoyer">Le Foyer Ballroom</a>
            <a class="nav-item nav-link" href="/reservation">Reservation</a>
            <a class="nav-item nav-link active" href="/admin">Management<span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>
<div class="mainContent">
  <div class="container adminCard">
    <h2 class="center space">Management</h2>
    <div class="row">
      <div class="col-md-8 eventLayout"></div>
      <div class="col-md-4">
        <div class="eventActions">
          <h4 class="center">Actions</h4>
          <ul>
            <li>
              <a class="expand actionItems" type="button">Employee Management</a>
              <ul>
                <li>
                  <button class="actionItems" type="button">
                    <a href="/addemployee">Add Employee</a>
                  </button>
                </li>
                <li>
                  <button class="actionItems" type="button"> 
                    <a href="/employees">All Employees</a>
                  </button>
                </li>
              </ul>
            </li>
            <li>
              <a class="expand actionItems" type="button">Event Management</a>
              <ul>
                <li>
                  <button class="actionItems" type="button"> 
                    <a href="/events">All Events</a>
                  </button>
                </li>
                <li>
                    <a class="expand actionItems" type="button">Search Events</a>
                    <ul>
                      <li>
                        <div class="selectEvent">
                          <div class="text-center">
                            <h5>Date</h5>
                            <p><input type="text" id="datepicker"></p>
                            <button id="searchEvent">Search</button>
                          
                          <ul id="event-list" class="list-group">
                            {{#each events}}
                              <li data-id="{{this.id}}" class="list-group-item">
                                <a href="event/{{this.id}}" class="reservation" data-toggle="popover" data-trigger="hover" title={{this.roomName}} data-content="Event info here">{{this.roomName}}</a>
                                <button class="btn btn-danger float-right delete">Delete Event</button>
                              </li>
                            {{/each}}
                          </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        </div>
        
      </div>
    </div>
  </div>
