<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
    <a class="navbar-brand" href="/"><img src="/images/logo.png" width="160" height="35" class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link active" href="/brandview">Brandview Ballroom<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/glenoaks">Glenoaks Ballroom</a>
            <a class="nav-item nav-link" href="/lefoyer">Le Foyer Ballroom</a>
            <a class="nav-item nav-link" href="/reservation">Reservation</a>
            <a class="nav-item nav-link" href="/admin">Management</a>
        </div>
    </div>
</nav>
<div class="mainContent">
    <div class="container">
        <h1 class="center space">Brandview Ballroom & Wedding Venue</h1>
        <div class="row">
            <div class="col-md-7 leftSection" id="exampleSlider">
                <li class="space">
                    <img src="/images/brandview-1.png" alt="" />
                </li>
                <li class="space">
                    <img src="/images/brandview-2.png" alt="" />
                </li>
            </div>
            <div class="col-md-5">
                <h2 class="center space">Luxury melds with modern decor</h2>
                <p>
                    A luxurious, art deco–inspired banquet hall, our newly-revamped Brandview Ballroom is one of the largest event & wedding venues. It features Italian onyx chandeliers, a breathtaking staircase entrance, terraced outdoor space, and full audiovisual services. If you’re looking for an elegant and spacious venue for your wedding reception, look no further than Brandview Ballroom. Brandview is the premier banquet hall for your wedding reception.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="center space">A Picture Perfect Wedding Reception Venue</h3>
                <p>
                    Your guests will enter Brandview and ascend up a spiral staircase. Their fingertips will trail along the elegant gold-leafed iron railings as they gaze over the banquet hall. The Italian onyx chandeliers and tufted walls of this art deco-inspired banquet hall will transport your guests to a bygone era. Picture them dressed in their best, sipping champagne, and filling the hall with laughter and joy as they celebrate your special day.

                    As they nibble on elegant appetizers, your guests can glance through the floor-to-ceiling windows that overlook the Americana at Brand. For a breath of fresh air, they can step outside and enjoy Brandview's lush, terraced outdoor space. Brandview offers full audiovisual capability so that every guest can enjoy videos and listen to speeches. They'll leave this luxurious wedding reception banquet hall with many happy memories.
                </p>
            </div>
        </div>
    </div>
</div>
