<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">EMPLOYEE</h5>
          <p>
            <strong>ID</strong>: {{employee.id}}</p>
          <p>
          <p>
            <strong>Name</strong>: {{employee.name}}</p>
          <p>
            <strong>Wage:</strong> ${{employee.wage}}/hr</p>
          <p>
            <strong>Image:</strong> <img src={{employee.image}} /></p>  
            <a href="/admin">← Go Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
