<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
    <a class="navbar-brand" href="/"><img src="/images/logo.png" width="160" height="35" class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/brandview">Brandview Ballroom</a>
            <a class="nav-item nav-link" href="/glenoaks">Glenoaks Ballroom</a>
            <a class="nav-item nav-link" href="/lefoyer">Le Foyer Ballroom</a>
            <a class="nav-item nav-link" href="/reservation">Reservation</a>
            <a class="nav-item nav-link active" href="/admin">Management<span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>
<div class="mainContent">
  <div class="container adminCard">
    <h2 class="center space">Management</h2>
    <div class="row">
      <div class="col-md-8 eventLayout">
          <div id="addEmployeeContainerShow">
            <form class="shade" action="POST">
            <div class="form-group">
              <h2><label for="employeeName">Employee Name</label></h2>
              <input type="text" id="employeeName" class="form-control" aria-describedby="employeeName" placeholder="Enter Employee Name">
            </div>
            <div class="form-group">
              <h2><label for="employeeWage">Employee Wage</label></h2>
              <input type="text" class="form-control" id="employeeWage" aria-describedby="employeeWage" placeholder="Dollar amount per hour">
            </div>
            <div class="form-group">
              <h2><label for="employeeImage">Employee Image</label></h2>
              <input type="text" class="form-control" id="employeeImage" aria-describedby="employeeImage" placeholder="Enter url path to image">
            </div>
            <div class="text-center">
              <button id="addEmployee" class="btn btn-primary submitButton">Update</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div class="eventActions">
          <h4 class="center">Actions</h4>
          <ul>
            
                <li>
                  <a href="/admin" class="actionItemsMain" type="button">← Go Back</a>                  
                </li>
              
          </ul>
          <div class="eventCard" id='{{event.id}}'>
            <h3 class="card-title center">Edit Employee</h3>
            <p class="p1">
                <div class="text-center">
                    <img src='{{employee.image}}'/>
                </div>
            </p>
            <p class="p1">
              <strong>Name</strong>: {{employee.name}}
            </p>
            <p class="p1">
              <strong>Wage:</strong> ${{employee.wage}}/hr
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

