<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">EVENT</h5>
          <p>
            <strong>ID</strong>: {{event.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{event.name}}</p>
          <p>
            <strong>Description:</strong> {{event.description}}</p>
          <p>
            <strong>Event Size:</strong> {{event.size}}</p>  
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
