<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
    <a class="navbar-brand" href="/"><img src="/images/logo.png" width="120" height="35" class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/brandview">Brandview Ballroom</a>
            <a class="nav-item nav-link active" href="/glenoaks">Glenoaks Ballroom<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/lefoyer">Le Foyer Ballroom</a>
            <a class="nav-item nav-link" href="/reservation">Reservation</a>
            <a class="nav-item nav-link" href="/admin">Management</a>
        </div>
    </div>
</nav>
<div class="mainContent">
    <div class="container">
        <h3 class="center space">Glenoaks Ballroom & Wedding Venue</h3>
        <div class="row">
            <div class="col-md-7 leftSection" id="exampleSlider">
                <li class="space">
                    <img src="/images/glenoaks-1.png" alt="" />
                </li>
                <li class="space">
                    <img src="/images/glenoaks-2.png" alt="" />
                </li>
            </div>
            <div class="col-md-5">
                <h6 class="center space">The ultimate in elegance.</h6>
                <p>
                    Dramatic modern architecture makes the Glenoaks Ballroom in Glendale perfect for your event. You’ll get state-of-the-art audiovisual capabilities as well as a beautiful outdoor patio for your guests. Your special event deserves a grand, opulent setting. The Glenoaks Ballroom, a feat of modern architecture. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h6 class="center space">Glenoaks offers a truly unique setting for your next occasion.</h6>
                <p>
                    Whether you’re hosting a wedding reception, birthday, holiday party, or other milestone at Glenoaks Ballroom, your guests will say “wow” when they enter the hall. The high ceilings give the room a sense of elegance and luxury, and the 60-foot chandelier imparts the Hollywood-style elegance of yesteryear.

                    The Glenoaks Ballroom is adorned with imported marble, and your guests will walk over a red carpet to enter the hall. Once inside, they can mingle with other guests in the ballroom, or they can step out onto the patio for cocktails and hors d’oeuvres. A sophisticated ballroom would be incomplete without state-of-the-art entertainment features. Specialty lighting and video will complete the experience.
                </p>
            </div>
        </div>
    </div>
</div>
