<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
    <a class="navbar-brand" href="/"><img src="/images/logo.png" width="160" height="35" class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/brandview">Brandview Ballroom</a>
            <a class="nav-item nav-link" href="/glenoaks">Glenoaks Ballroom</a>
            <a class="nav-item nav-link" href="/lefoyer">Le Foyer Ballroom</a>
            <a class="nav-item nav-link" href="/reservation">Reservation</a>
            <a class="nav-item nav-link" href="/admin">Management</a>
        </div>
    </div>
</nav>
<div class="mainContent">
    <div class="container">
        <h1 class="center space">Pebblebrook Manor</h1>
        <div class="row">
            <div class="col-md-7 leftSection" id="exampleSlider">
                <li  class="space">
                    <img src="/images/image1.png" alt="" />
                </li>
                <li  class="space">
                    <img src="/images/image2.png" alt="" />
                </li>
                <li  class="space">
                    <img src="/images/image3.png" alt="" />
                </li>
            </div>
            <div class="col-md-5">
                <h2 class="center space">Banquet Halls, Wedding Venues & Catering Services</h2>
                <p>
                    Since 1986, Pebblebrook Manor has provided award winning catering and unforgettable service in beautifully appointed banquet halls. If you're planning an event, Pebblebrook Manor's banquet halls provide sophisticated settings, award winning catering, flexible alcohol options, full audiovisual capabilities, and plenty of room for feasting and dancing. Trust us to make your upcoming event a night to remember. 
                </p>
            </div>
        </div>
                <h3 class="center space">Compare Ballrooms</h3>
        <div class="row outlineBorder">
            <div class="col-md-3">
                <ul>
                    <li>
                        <strong><p class="p1">Ballroom</p></strong>
                    </li>
                    <li>
                        <strong><p class="p1">Venue Size</p></strong>
                    </li>
                    <li>
                        <strong><p class="p1">Max Occupancy</p></strong>
                    </li>
                    <li>
                        <strong><p class="p1">Lighting & Video</p></strong>
                    </li>
                    <li>
                        <strong><p class="p1">Music & Live DJ</p></strong>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>
                        <STRONG><p class="p1"><a href="/brandview">Brandview Ballroom</a></p></STRONG>
                    </li>
                    <li>
                        <p class="p1">13,000 sq. ft.</p>
                    </li>
                    <li>
                        <p class="p1">550</p>
                    </li>
                    <li>
                        <p class="p1">YES</p>
                    </li>
                    <li>
                        <p class="p1">YES</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>
                        <STRONG><p class="p1"><a href="/glenoaks">Glenoaks Ballroom</a></p></STRONG>
                    </li>
                    <li>
                        <p class="p1">5,500 sq. ft.</p>
                    </li>
                    <li>
                        <p class="p1">450</p>
                    </li>
                    <li>
                        <p class="p1">YES</p>
                    </li>
                    <li>
                        <p class="p1">YES</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>
                        <STRONG><p class="p1"><a href="/lefoyer">Le Foyer Ballroom</a></p></STRONG>
                    </li>
                    <li>
                        <p class="p1">4,500 sq. ft.</p>
                    </li>
                    <li>
                        <p class="p1">350</p>
                    </li>
                    <li>
                        <p class="p1">YES</p>
                    </li>
                    <li>
                        <p class="p1">YES</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="center space">What are your Alcohol Options?</h3>
                <p>
                    We have alcohol packages ranging from $10-$20 per person.We also have options for you to provide your own alcohol with no corkage fees. Alcohol can be served both on the tables (bottle service) and at the bar.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="center space">How late can we stay?</h3>
                <p>
                    3am!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="center space">What is included in the rental fee?</h3>
                <p>
                    Our base rental fee includes the venue, table, chiavari chairs, satin linens, tableware (china, glasses, silverware, dance floor, site manager and security. We can also help in selecting additional rentals as necessary.
                </p>
            </div>
        </div>
    </div>
</div>