<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
    <a class="navbar-brand" href="/"><img src="/images/logo.png" width="160" height="35" class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/brandview">Brandview Ballroom</a>
            <a class="nav-item nav-link" href="/glenoaks">Glenoaks Ballroom</a>
            <a class="nav-item nav-link active" href="/lefoyer">Le Foyer Ballroom<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/reservation">Reservation</a>
            <a class="nav-item nav-link" href="/admin">Management</a>
        </div>
    </div>
</nav>
<div class="mainContent">
    <div class="container">
        <h1 class="center space">Le Foyer Ballroom & Banquet Hall</h1>
        <div class="row">
            <div class="col-md-7 leftSection" id="exampleSlider">
                <li class="space">
                    <img src="/images/lefoyer-1.png" alt="" />
                </li>
                <li class="space">
                    <img src="/images/lefoyer-2.png" alt="" />
                </li>
            </div>
            <div class="col-md-5">
                <h2 class="center space">Radiant. Glamorous. Iconic.</h2>
                <p>
                    A spacious yet intimate banquet hall featuring a waterfall and a European-inspired great room flanked by 16 sculpted arches. Guests will also enjoy the lobby and the outdoor patio. If you’re looking for a banquet hall, then you’ll love the movie-star grandeur of Le Foyer Ballroom. At 5,500 square feet, it’s large enough for your event yet intimate enough to build connections. It’s the perfect location for your wedding reception, or other major event. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="center space">An elegant banquet hall for weddings and special events.</h3>
                <p>
                    When your guests enter Le Foyer Ballroom, they'll be captivated by the marble foyer. They'll also marvel at the cascading waterfall, which streams into a 25-foot pond. After spending some time in the lobby, which is the perfect place for cocktails and hors d'oeuvres, they'll enter the most glamorous European-inspired banquet hall.

                    The main banquet hall at Le Foyer is surrounded by 16 beautifully constructed arches. Outside of the hall, on the patio, your guests can enjoy a breath of fresh air and some refreshments from the café. While they're mingling, you can retreat to the bridal suite, which features full butler service. You and your guests will have everything you need for dancing, feasting, and celebrating your milestone event.
                </p>
            </div>
        </div>
    </div>
</div>
