.list-group-item {
  line-height: 2.5;
}
    
html {
	position: relative;
	min-height: 100%;
}

body {
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  
}

body:after{
  content: "";
  position: fixed;
  top:0;
  height: 100vh;
  left:0;
  right:0;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) repeat, url("/images/background.jpg") no-repeat center center;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.mainContent {
  display: block;
  height: max-content;
  min-height: calc(100vh - 258px); /* Minus Height of Navigation and Footer*/
}

.container {
  display: block;
  background-color: aliceblue;
  position: relative;
  margin: 100px auto;
  /* top: 10%;
  transform: perspective(1px) translateY(-10%); */
}



.leftSection {
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 350px;
}

.center {
  text-align: center;
}

.space {
  padding: 20px;
}
.footer {
  display: block;
  position: relative;
  padding: 15px;
  width: 100%;
	height: 200px;
  font-size: 12px;
  background-color: #3d3d3d;
  color:#dddddd;
  text-align: center;
}
ul, li {
  list-style-type: none;
  margin: 0px;
}


footer li {
  padding: 5px;
}

footer hr {
  margin: 25px 0;
  width: 100%;
  background-color: #777777;
}

.team {
  margin: 0 auto;
  max-width: 500px;
}

.team li {
  display: inline;
}

.socialIcons {
  text-decoration:none;
}

.team {
  text-align: center;
}

/* Slide Show */

.active{
    z-index:99;
}


/* Draggable */

.draggable {
  touch-action: none;
  user-select: none;

  width: 75px;
  height: 75px;
  /* min-height: 6.5em; */
  margin: 5px;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  padding: 5px;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.deleteTable {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.eventLayout {
  background-color: #cccccc;
  height: 400px;
  width: 500px;
}

.selectEvent {
  background-color: #dddddd;
  height: 400px;
}

.eventActions {
  /* height: 400px; */
}