/* .list-group-item {
  line-height: 2.5;
} */
    
html {
	position: relative;
	min-height: 100%;
}

body {
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
}

body:after{
  content: "";
  position: fixed;
  top:0;
  height: 100vh;
  left:0;
  right:0;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) repeat, url("/images/background.jpg") no-repeat center center;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}


h1, h2, h3 {
  font-family: 'Great Vibes', cursive;
}

h1 {
  color: #996515;
}

h2, h3 {
  color: #c58d42;
}

h4 {
  font-weight: bold;
}

.p1 {
  font-size: 13px;
}
.mainContent {
  display: block;
  height: max-content;
  min-height: calc(100vh - 311px); /* Minus Height of Navigation, Footer and Margins */
}

.container {
  display: block;
  background-color: aliceblue;
  position: relative;
  margin: 50px auto;
  padding: 50px;
  /* top: 10%;
  transform: perspective(1px) translateY(-10%); */
}

/* ********** Reservation ********** */

.reservationCard {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) repeat,url("/images/reservationCard2.png") no-repeat center center;
  background-size: cover;
}

.shade {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
}

/* ********** Reservation End ********** */



.leftSection {
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 350px;
}

.center {
  text-align: center;
}

.space {
  padding: 20px;
}
.footer {
  display: block;
  position: relative;
  padding: 15px;
  width: 100%;
	height: 200px;
  font-size: 12px;
  background-color: #ffffff;
  color:#c58d42;
  text-align: center;
}
ul, li {
  list-style-type: none;
  margin: 0px;
}


footer li {
  padding: 5px;
}

footer hr {
  margin: 25px 0;
  width: 100%;
  background-color: #c58d42;
}

.team {
  margin: 0 auto;
  max-width: 500px;
}

.team li {
  display: inline;
}

.socialIcons {
  text-decoration:none;
}

.team {
  text-align: center;
}

/* .navbar a:active {
  color: #694d27 !important;
}

.navbar a:link {
  color: #c58d42 !important;
}

.navbar a:visited {
  color: #c58d42 !important;
}

.navbar a:hover {
  color: #694d27 !important;
} */

a:link {
  color: #777777;
  text-decoration: none;
}

a:visited {
  color: #777777;
  text-decoration: none;
}

a:active {
  color: #777777;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

/* Slide Show */

.active{
    z-index:99;
}


/* Draggable */

.draggable {
  touch-action: none;
  user-select: none;

  width: 75px;
  height: 75px;
  /* min-height: 6.5em; */
  margin: 5px;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  padding: 5px;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.deleteTable {
  position: absolute;
  bottom: 5px;
  right: 5px;
}











/* ********** Admin ********** */

.adminCard {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) repeat,url("/images/reservationCard.png") no-repeat center center;
  background-size: cover;
}

.eventLayout {
  display: block;
  background-color: #cccccc;
  height: 550px;
  width: 100%;
  padding: 0;
}

.selectEvent {
  /* background-color: #dddddd; */
  /* height: 300px; */
  padding: 20px 0;
}

/* ********** Admin End ********** */


/* ************** Menu Items ******************** */

.eventActions {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  padding-top: 15px;
}

.eventActions li ul {
  position: relative;
  display: none;
  width: auto;
  border-left-width: 0;
  opacity: 1;
  -webkit-animation: none;
  animation: none;
  visibility: visible;
  -webkit-box-shadow: none;
  box-shadow: none;
  /* background-color: rgba(0, 0, 0, 0.1); */
  margin-bottom: 15px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}



.actionItems {
  width: 100%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

#addEmployeeContainer {
  display: none;
  height: 100%;
  width: 100%;
}

#employee-list {
  display: none;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

#events-list {
  display: none;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

#event-list {
  display: none;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

#addEmployeeContainer {
  padding: 20px;
}



/* Popover */
.popover-header {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
/* Popover Body */
.popover-body {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.list-group-item {
  display: block;
  height: 126px;
}

.employeeWrapper {
  cursor: pointer;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

ul.employeeWrapper li.employeeWrapper {
  display: inline-block;
  text-align: justify;
  vertical-align: middle;
}

.employeeActions {
  margin: 10px;
}

.employeeActionButton {
  width: 150px;
}



/* Event Card */
.eventCard {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  height: 450px;
}

li.eventLayoutActions  {
  margin: 10px;
  text-align: center;
}

#saveEvent {
  width: 100%;
}